[submodule "Libs/glfw"]
	path = Libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Libs/glm"]
	path = Libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "Libs/spdlog"]
	path = Libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Libs/tracy"]
	path = Libs/tracy
	url = https://github.com/wolfpld/tracy.git
